PF_DB_PASSWORD=ganti-password-db-kuat
PF_APP_DB_PASSWORD=ganti-password-role-aplikasi
PF_SESSION_SECRET=ganti-dengan-string-acak-64-karakter
PF_PUBLIC_URL=https://farm.pekingfarm.id
PF_SEED_DEMO=true
NPM_NETWORK=pusatsnack-ai_default
